[2019-03-13 08:51] arsenius7 opened #1 "Profiling & performance tuning"
If we claim `libsonata` to be a performant low-level I/O layer, we'll need some procedure for benchmarking.

Benchmarking tool should live in `libsonata` repo; and have a corrresponding section in the documentation.

Regular automatic benchmarks would be nice, but seem to be an overkill at this stage.

[2019-03-13 08:53] mgeplf commented on #1
I forget whether I've mentioned it before, but if you're doing python benchmarking over time ASV is pretty nice:
https://github.com/airspeed-velocity/asv

[2019-03-13 08:57] arsenius7 opened #2 "Edge indexing tool"
We need a reusable component for [edge indexing](https://github.com/AllenInstitute/sonata/blob/master/docs/SONATA_DEVELOPER_GUIDE.md#edges---optional-indexing).

Ideally, it should be available in two flavors: as a method in API, and as a console command.

[2019-03-13 10:16] arsenius7 opened #3 "CSV support for `[Node|Edge]Population`"
We need to add support for node / edge types provided with [CSV files](https://github.com/AllenInstitute/sonata/blob/master/docs/SONATA_DEVELOPER_GUIDE.md#representing-nodes).

[2019-03-13 10:18] arsenius7 opened #4 "Circuit / simulation config reader"
Add methods for parsing [circuit](https://github.com/AllenInstitute/sonata/blob/master/docs/SONATA_DEVELOPER_GUIDE.md#network_config) and [simulation](https://github.com/AllenInstitute/sonata/blob/master/docs/SONATA_DEVELOPER_GUIDE.md#representing-simulations) JSON configs.

[2019-03-13 10:19] arsenius7 opened #5 "Support 2-D attributes"
At the moment only 1-D attributes are supported for [Node|Edge]Populations.

Once the decision is made at https://github.com/AllenInstitute/sonata/issues/68, we might need to add support for multidimensional attributes as well (at least 2-D).

[2019-03-13 10:24] arsenius7 opened #6 "Node sets reader"
Add methods for accessing JSON files specifying [node sets](https://github.com/AllenInstitute/sonata/blob/master/docs/SONATA_DEVELOPER_GUIDE.md#node-sets-file).

[2019-03-13 10:43] arsenius7 opened #7 "Simulation output reader"
Add methods for accessing [simulation reports](https://github.com/AllenInstitute/sonata/blob/master/docs/SONATA_DEVELOPER_GUIDE.md#simulation-output---reports).

[2019-03-14 08:32] arsenius7 commented on #4
We can take inspiration from [Brion](https://github.com/BlueBrain/Brion/blob/master/brion/circuitConfig.h) implementation.

[2019-03-14 08:33] arsenius7 commented on #7
@hernando, @jplanasc, if you already have SONATA report reader in Brion or somewhere else, let us consider moving it here.

[2019-03-14 09:44] jplanasc commented on #7
I believe support for reading SONATA simulation reports has been implemented in Brion from revision c16a694:
https://github.com/BlueBrain/Brion/commits/master

[2019-04-01 12:42] arsenius7 opened #9 "Fork-safe read access"
It's unsafe to open same H5 file with `libsonata` after forking.
In the best case, it can end up with errors like that one:
[code]

In the worst case, it can lead to undefined behavior.

This nice trait is inherited from `libhdf5`; if possible we need to find a way to protect library users from this, or at least make the error more self-explanatory.

[2019-04-23 15:14] wizmer opened #11 "Document installation instructions"
Hi,

I need to build the python wrapper of libsonata.
I have build a _sonata.so but don't manage to use it.
If I go to `build/python` and try to `python -c "import sonata" I get:
[code]
I don't know if it is a real bug or if I am not installing the software correctly.
Any thoughts ?

[2019-04-29 12:39] wizmer opened #16 "Aggressive compilation flags"
I am trying to build libsonata wheels however I can't build the package on all the platform because compilation flags are too aggressive.
Here is a warning about narrowing conversion being treated as error on a i686 machine:
https://travis-ci.com/BlueBrain/libsonata-wheels/jobs/196307472#L639

Would you be okay for only enabling these flags in the CI and not by default ? Like in MorphIO: https://g

[2019-04-29 13:36] jorblancoa opened #17 "Error when installing libsonata with python support"
When I am trying to install libsonata through spack with the +python variant
(-DSONATA_PYTHON=ON) I get an error on pybind11.

This problem was introduced after the last 2 merged PR #15 and #13. If I use the version from the 18th of April everything works fine.

### Steps to reproduce the issue

[code]
The cmake command that run is:
[code]

### Error Message
...
-- Configuring done
CMake Error at

[2019-04-29 13:54] wizmer commented on #17
Hi,
You need to update your pybind. The SYSTEM keyword was not supported in pybind 2.2.4.

[2019-04-30 08:28] jorblancoa commented on #17
@pramodk Could you have a look at this?

[2019-04-30 08:38] wizmer commented on #16
@tristan0x Do you have any thought about it ? Do you already have a convention for the activation of Werror ?

Related to: https://github.com/BlueBrain/MorphIO/pull/62

[2019-04-30 08:50] tristan0x commented on #16
Sorry for the delay. Somehow this issue passed under my radar.

To prevent a contributor to waste time fixing compilation issues in CI, I think it is important to provide a development environment that is as close as possible as the CI' s.

That being said, I use a CMake option (enabled by default) to activate or not the compilation warnings.
See `${PROJECT_NAME}_CXX_WARNINGS` CMake option below:

[2019-04-30 14:05] wizmer commented on #16
Thanks for your insights @tristan0x

So following your suggestion I will disable `${PROJECT_NAME}_CXX_WARNINGS` in the `setup.py` so that users that simply want to install the python package don't have to deal with CPP error messages.

Do you have an example of inclusion of bob.cmake within one of your project.

[2019-05-01 14:39] wizmer commented on #16
Fixed in https://github.com/BlueBrain/libsonata/pull/19

[2019-05-01 14:39] #16 closed

[2019-05-01 14:40] #11 closed

[2019-05-03 09:20] jorblancoa commented on #17
@wizmer But pybind 2.2.4 is the latest stable version...

[2019-05-03 14:21] pramodk commented on #17
@wizmer @arsenius7 : if `pybind 2.2.4` is latest released version, how this should be handled in deployment? Do you guys rely on submodule? In that case could you update Spack libsonata recipe accordingly?

[2019-05-03 14:22] mgeplf commented on #17
Doesn' the error look like cmake doesn't support the SYSTEM keyword?

[2019-05-03 14:26] wizmer commented on #17
@pramodk I am working on fixing the recipe right now.
@mgeplf No, it is not a problem of cmake but a problem of add_pybind11_module that used to not support passing the SYSTEM keyword.

[2019-05-24 09:47] arsenius7 commented on #17
https://github.com/BlueBrain/spack/pull/372 should address the issue.
`libsonata` now provides only C++ library (we have removed `python` variant); for Python please use `py-libsonata` instead.

[2019-05-24 09:47] #17 closed

[2019-05-24 09:50] arsenius7 commented on #5
At https://github.com/AllenInstitute/sonata/issues/68 we decided to try to get away with 1-D attributes only for the moment.

[2019-05-24 09:50] #5 closed

[2019-05-27 10:00] jorblancoa opened #26 "Issue while install py-libsonata"
We encountered this issue while deploying on Jureca system @ JSC. Adding details here for future reference:

[code]

we need to look into more but `setup.py` internally trying to install another `numpy` is causing this pain (as @pramodk  said).

cc: @pramodk

[2019-05-27 10:05] arsenius7 commented on #26
What is the pre-installed version of `numpy` (if there is any)?
Is it lower than `1.12.0`?
@pramodk , can we bump it in this case?
Also, mind if I move the ticket to `Spack` repo, as it's purely deployment-related?

[2019-05-27 10:25] arsenius7 commented on #26
If it's not an option (or as a quickfix if `py-libsonata` is the only package asking for non-predeployed `numpy`), I can patch away `>=1.12` requirement in `py-libsonata` Spack recipe. Obviously, no guarantees on `py-libsonata` work, but if it's not used and is only a nuisance for general deployment at the moment...

[2019-05-27 10:29] jorblancoa commented on #26
The installed version of numpy is 1.14.2.
I have tried patching the recipe for different numpy versions with no luck.

Right now I patched the numpy dependency altogether from the setup.py to see if it is enough with the installed version in case of the spack deployment.

[2019-05-27 12:33] wizmer commented on #26
Is there any way to investigate why the numpy version 1.14.2 was not picked up by the build ?

[2019-05-28 13:57] jorblancoa commented on #26
I guess setup.py install requires only checks for local system installations and not spack dependencies...

So basically i adapted the spack recipe with a filter to remove the install_dependency from the setup.py and everything seems to work.

[2019-05-28 15:00] arsenius7 commented on #26
Imho, that's not the case, and something is fishy here, but I have no idea how to investigate it.
@pramodk , would you mind taking this ticket to BBP Spack repo (unfortunately, I don't have rights to do it).

[2019-05-28 20:25] pramodk commented on #26
Sure. Do you mean just closing this and creating new one in Spack repo?

I have little idea about python setuptools. Could someone explain if package `X` is an install requirement of package `Y`, how/where setup.py of `Y` checks if `X` is already installed?

[2019-05-29 07:54] arsenius7 commented on #26
I believe there is a GitHub mechanism for actually transferring the issue, but one should have admin rights in both "from" and "to" repo. If it's not available, closing / creating a new one is fine.

I mean, however Spack makes `setup.py` recognize its dependencies on package install, it is used for hundreds of Spack recipes, including those depending on `numpy`, and works fine. ^^
I wonder if we

[2019-07-08 11:51] matz-e opened #34 "Create tags for releases."
I would be greatly appreciated if you could tag your releases. This would allow us to see that deployed packages are in sync (we currently have different commits for `libsonata` and `py-libsonata` version `0.0.2`), and ensure that the intended commit is used for a version.

[2019-07-08 12:22] tomdele opened #35 "Performances of EdgePopulation::connectingEdges"
We have seen some performance issues using EdgePopulation::connectingEdges.
This is mainly due to the costly set_intersection function. Finding something else to compute the range intersection could greatly improve the performances.

[2019-07-08 12:45] mgeplf commented on #35
I think adding an example of where it's slow would be helpful, so that when we get to this issue in the future, we know where to start.  Please make sure the example is anonymized.

Do you have benchmarks for where `std::set_intersection` is the bottleneck?

[2019-07-09 11:34] tomdele commented on #35
Sorry about that. After some further checks it appears that it is not the set_intersection that is causing problem but `EdgePopulation::afferentEdges` with my data.
I am closing the issue.

[2019-07-09 11:34] #35 closed

[2019-07-10 11:20] matz-e opened #36 "Add support for enum datatypes"
See the excellent specification document of [SONATA](https://github.com/AllenInstitute/sonata/blob/master/docs/SONATA_DEVELOPER_GUIDE.md#nodes---enum-datatypes) – from the HPC side, we need support for the enum datatypes for circuits, to avoid repeatedly calculating unique values and indices.

I propose to augment the population interface by adding/changing the following methods:
[code]

This is a

[2019-07-11 08:11] mgeplf commented on #36
* `getAttribute` seems to make sense to me, as long as I'm understanding it right: enums will be expanded for the whole selection to the underlying value, with the duplication that involves, correct?

* `getAttributeIndices`: I think that this should have 'Enum' in the name (`getEnumAttributeIndices`?), since it can only be called on enums.  This results in a bit of namespace pollution, but I thin

[2019-07-11 10:17] matz-e commented on #36
Correct, that is the idea.

I may be more partial to `getAttributeEnumIndices`? Sounds slightly nicer to me.

To enable user queries, we can provide `attributeEnumNames()`.

[2019-07-11 10:40] mgeplf commented on #36
Sure, as long as the name is clear.  `attributeEnumNames` also sounds reasonable.

[2019-07-15 07:46] matz-e opened #37 "Test data script is incompatible with Python 3"
Python 2 will be EOL end of this year, and most of the community has moved to Python 3.

We should make sure that the data creating script works with 3 to be able to drop support for Python 2, too.

[2019-07-15 08:39] matz-e commented on #36
FWIW, I have some stub implementation already, and can pursue / test this directly in circuit building.

[2019-07-15 09:42] #37 closed

[2019-07-17 09:51] matz-e opened #40 "Add support for multi-dimensional attributes"
Essentially re-opening on  #5

Using one-dimensional attributes for positions is fine, but for rotations we would prefer to use quaternions as has been the case in the past. From the official SONATA documentation:

Thus we should support multi-dimensional attributes. Alternatively, we could attempt to change the SONATA specification to allow `orientation_{w,x,y,z}` (I think this would be preferabl

[2019-07-17 09:55] matz-e commented on #40
@mgeplf any preferences here? To be consistent, we already have 1-D positions for everything else… I can open a PR with the official SONATA folks.

[2019-07-17 10:17] mgeplf commented on #40
I have a strong preference for quaternions (which is an aside).

Breaking out the attribute names reduces confusion, which I'm for, so I think that's a good proposal.

Idle thought: I wonder whether we can always get away with breaking multiple-dimension attributes apart - so far it has been the case, and so far it has always made sense.

[2019-07-17 10:25] matz-e commented on #40
See AllenInstitute/sonata#104

I will operate on the assumption that this will be merged.

[2019-07-23 07:57] matz-e opened #41 "Remove VERSION file, use tags"
We currently require `setuptools_scm`:

https://github.com/BlueBrain/libsonata/blob/98aa883849c700c369b532a9f4b6bf2a66ea4edc/setup.py#L146

With this¸ we don't need the dependency on the VERSION file any longer, and can just rely on the VCS to provide all necessary info . `setuptools_scm` will add information to Python tarballs to work without a `.git` directory, too.

For the C++ library, we can

[2019-07-23 08:34] mgeplf commented on #41
I created the v0.0.3 tag, so scm_tools should work

[2019-07-23 08:38] matz-e commented on #41
Thanks! Without tags, in my local execution, it just returned `0.0.0`.

[2019-07-23 08:39] matz-e commented on #34
We have a release.

[2019-07-23 08:39] #34 closed

[2019-07-23 08:40] mgeplf commented on #41
I *literally* happened to be looking at it at the same time, for some reason the default version I got was `0.1.devblahblahbalh` ... which is odd.

[2019-07-23 10:49] #36 closed

[2019-07-23 10:57] #41 closed

[2019-09-27 12:43] matz-e opened #48 "Add support for len()"
Be more pythonic and alias `size` to `__len__`…

[2019-10-04 14:19] #48 closed

[2019-10-18 05:23] pramodk opened #51 "Build error with GCC 6.2 (on Cray Piz-Daint)"
I haven't looked into details (didn't try locally) but while building py-libsonata with GCC 6.2.0:

[code]

GCC 7.3.0 build works fine.

[2019-10-18 06:59] mgeplf commented on #51
Suspicious LTO issues w/ pybind11.  Do the other pybind11 projects have the same problem?

Do you get an error w/ doing `spack install py-pybind11`

[2019-11-05 11:03] haleepfl opened #55 "Error importing libsonata on macOS"
In a fresh virtualenv (macOS 10.14.6, python 3.6), pip installing libsonata succeeds (using a wheel), but it cannot be imported in python due to the version of the hdf5 lib:

[code]

hdf5 has been installed with brew and `brew list --versions hdf5` shows `hdf5 1.10.5_1`. The library in `/usr/local/lib/` is `libhdf5.103.dylib` which is obviously not what libsonata is looking for given the above.

H

[2019-11-05 13:21] mgeplf commented on #55
Unfortunately, I don't know of a way of properly packaging wheels that have inner dependencies like this on macOS.  If you try installing without using the wheel, does it work?  Something like `pip install --no-binary :all: libsonata`

[2019-11-05 14:11] haleepfl commented on #55
Both `pip install --no-binary libsonata libsonata` and `pip install git+https://github.com/BlueBrain/libsonata` work fine it seems. Just the outdated version of hdf5 that libsonata is expecting that is causing issues with the wheel.

[2019-12-02 09:37] mgeplf commented on #55
We may have to do something like this:
https://github.com/MacPython/h5py-wheels/blob/master/config.sh#L28

[2020-01-28 15:30] mgeplf opened #61 "Make `bbp::sonata::Selection` comparable"
Primarily to make unit tests easier, but can be useful for other things as well.

[2020-01-29 11:30] #61 closed

[2020-01-31 12:36] haleepfl opened #65 "Bump pybind version to 2.3.0+"
pybind v2.3.0 introduced improvements to the mkdoc.py documentation generation tool. It would be nice if we could bump the version and take advantage of generating our python docstrings from our C++ doxygen documentation, to reduce duplication where possible.

[2020-02-06 09:15] matz-e opened #68 "No docstring for the Python constructor?"
I was playing around with the library and ended up here:
[code]
but `help(S)` did not give me any more information about what these constructors actually entail in detail.

[2020-02-06 09:15] matz-e opened #69 "Add proper Python representation"
It would be nice if the Python representation of ranges could be more verbose:
[code]

[2020-02-06 09:58] mgeplf commented on #69
Good call.  Suggestions for behavior when it's really long, though?  ie:
`S(np.arange(0, 10000, 2))`

[2020-02-06 10:01] matz-e commented on #69
Could we rely on Numpy's representation for that case? That truncates "nicely".

[2020-02-06 10:03] mgeplf commented on #69
I don't think so, if there are many ranges, which don't decay to numpy arrays.

We'll probably have to truncate it ourselves.

[2020-02-06 11:48] matz-e commented on #69
That's true, forgot that Numpy is just present on the input side. How about arbitrarily picking the first and last 3 elements to always be displayed?

[2020-03-11 08:23] mgeplf commented on #55
I believe @wizmer has fixed this problem in `morphio`, so we should be able to do the same thing here, time permitting.

[2020-03-12 08:01] mgeplf opened #74 "Add documentation for output readers"
Just example code in the main README.md, for now

[2020-03-12 08:02] mgeplf opened #75 "Make a new release"

[2020-03-12 08:03] mgeplf opened #76 "Decide if `operator[]` should be syntactic for openPopulation"
If so, implement it uniformly.

[2020-03-12 08:05] mgeplf commented on #75
Needs to include wheels

[2020-03-12 08:06] mgeplf commented on #75
Also, first should solve #55

[2020-03-13 12:37] matz-e opened #80 "Make `python setup.py test` work"
I don't care what the underlying unit test framework is as long as I can just run `python setup.py test` to get some basic tests done.

[2020-03-13 15:16] mgeplf commented on #75
Tag'd and deployed:
https://pypi.org/project/libsonata/0.1.3/#files

[2020-03-13 15:16] #75 closed

[2020-03-13 15:25] mgeplf commented on #55
The new release should work properly whether `brew` exists, and whether hdf is installed.  Could you try it @haleepfl?

[2020-03-13 15:38] haleepfl commented on #55
@mgeplf No problems importing libsonata in a fresh venv now. I'm checking with my current setup (I have brew and an older hdf installed).

[2020-03-13 18:13] jorblancoa commented on #74
Addressed in https://github.com/BlueBrain/libsonata/pull/78

[2020-03-16 08:02] mgeplf commented on #55
Sweet.

I think this is fixed.  I'm going to close this - please reopen if it stops working.

[2020-03-16 08:02] #55 closed

[2020-03-24 07:51] mgeplf opened #82 "Functions taking paths should handle `pathlib.Path` objects"

[2020-04-08 14:10] tomdele opened #84 "Python Spike/ReportPopulation .get() behavior with empty list of ids"
The current behavior of the report's get function is:
[code]

would be great to have instead:
[code]

[2020-04-20 18:37] alkino commented on #84
So, once we get a `Selection` c++-side it is not possible to disambiguate `[]` and `None`.

For this `-1` and `-2` weird bug, I remove the implicit conversion from list and tuple because `Selection` take `Ranges` as arguments.

So let's play the old way:
[code]

[2020-04-24 14:34] #65 closed

[2020-06-16 16:50] tomdele opened #94 "Selection behavior unsafe with negative numbers"
The Selection object can lead to non consistent behaviors if you provide a negative number/range:
[code]
Same for `Selection.ranges`.

[2020-06-17 08:14] tomdele opened #95 "Misleading Python function error with negative NodeID"
Functions that take as an argument a NodeID will fail if you provide a negative number as a node id (which makes perfect sense).
For the C++ part, we are safe and it is easy to find where the problem comes from but with the python bindings this is a bit more tricky.

Ex :
[code]
The outputted error is quite unclear since the int/uint distinction does not exists in python.
Having an error message i

[2020-06-24 08:47] alkino commented on #95
Could Selection throw if there is negative NodeID? Can it be something filling the request?

[2020-06-24 09:37] tomdele commented on #95
Sure that would be perfect.

[2020-10-19 09:28] alkino opened #105 "If dataset is chunked we lost performance"
Following this thread:
https://github.com/BlueBrain/libsonata/pull/104/files/fc0da88de6139abfed41a8ee05a456be3520bcbe#r503171877

We have to measure and understand

[2020-11-06 09:18] WeinaJi commented on #80
PR has been merged.

[2020-11-06 09:18] #80 closed

[2020-12-15 08:35] mgeplf commented on #68
Could you give an example of the detail you want?

[2020-12-15 08:35] mgeplf commented on #51
@pramodk is this still relevant? If it is, what are the anwers to the above questions?

[2020-12-15 08:37] mgeplf commented on #7
Added in #71

[2020-12-15 08:37] #7 closed

[2020-12-15 08:38] mgeplf commented on #6
Begun in #107

[2020-12-15 09:46] mgeplf commented on #9
Sadly we don't have a lot of control on how calling process' handle themselves.

However, it would be neat to be able to at least issue a warning if a `fork()` happens without an exec.
The only (gross) way I can think of this is to save the PID when libsonata is initialized, and periodically check that it hasn't changed; an `exec()` would clear this, iirc (to be checked).

This doesn't seem like a

[2020-12-15 12:46] mgeplf commented on #9
@GianlucaFicarelli or @matz-e; do you guys have any thoughts on this?  Anyone you recommend I talk to?

[2020-12-15 12:50] #74 closed

[2020-12-15 14:13] matz-e commented on #68
Hm. Just checked. Docs seem still kind of weird, but we can close this.

[2020-12-15 14:13] #68 closed

[2021-01-04 09:44] #69 closed

[2021-01-04 09:51] #82 closed

[2021-01-04 14:55] mgeplf commented on #51
I'm going to close this; please reopen it if you continue to have errors.

[2021-01-04 14:55] #51 closed

[2021-01-04 15:12] pramodk commented on #51
Sorry, missed this.

I think we are not seeing any errors now. @jorblancoa : can you confirm?

[2021-01-04 15:55] jorblancoa commented on #51
py-libsonata is installed in daint with gcc 8.3.0 without any problems!

[2021-01-06 08:31] mgeplf opened #115 "Old version of HDF5 in wheels"
This commit uses the `hdf5-devel`: https://github.com/BlueBrain/libsonata/commit/9aba1ea5cde1479771b9e7118d149ef4f39ac2f9

This is a really old version of hdf5 (1.8.12? circa 2013).  Previously we were building a much newer version (hdf5-1.10.5, from 2019?)

This should be updated.

[2021-01-06 08:40] pramodk commented on #115
I am curious about shipping hdf5 version under wheel and interoperability aspects. What if another python package is loaded first with different/older HDF5 version? Does everything just works?

[2021-01-06 08:46] mgeplf commented on #115
They are rpath'd in, but subject to the normal dynamic linking rules, so basically there isn't a lot of control - this is the main reason why having a somewhat modern version is preferable, imo.

In one of the other projects, I was compiling hdf5 statically into the wheel, which is prob. the best way, but I don't know how easy that is with these new-fangled wheel building techniques.

HDF5 does a

[2021-01-08 13:05] #94 closed

[2021-01-13 08:57] mgeplf commented on #6
Merged in #107

[2021-01-13 08:57] #6 closed

[2021-01-14 14:35] wizmer opened #117 "libsonata tarball should be compilable"
I think the libsonata tarball is bundled without its submodule which makes it uncompilable:

[code]

### reproduction

```pip install --no-binary libsonata libsonata```

[2021-01-14 14:50] pramodk commented on #117
cc @alexsavulescu

[2021-01-15 08:50] matz-e opened #119 "Glob matching in NodeSets"
Would be nice if the string matching in the NodeSet functionality (and by extension, I guess, attribute matching) could perform a glob match to not have to specify dozens of values.

(spin off from #118)

[2021-01-15 09:59] mgeplf commented on #119
I agree although I would go full regex rather than glob, personally:
so, a node_set could have:
`{"foo": {"mtype": "/[lL]5_.*"}}`

I've added the '/' as the signal that it's a regex.  To me it's the most natural marker of a regex, but that's debatable.  I'm not what the collision probability is of people using '/' as the start of a string value for attributes, but it's possible for directories...

[2021-01-15 10:11] matz-e commented on #119
Fine with me, I guess. The added benefit of using full-blown regex is support by the STL for new enough standards.

With a prefix, I would suggest maybe adding `re:` and `val:` to be able to fully disambiguate (the latter being the default). Slightly shorter than `regex:` :)

[2021-01-21 07:34] #117 closed

[2021-01-28 10:55] tomdele commented on #119
Hi guys,
I already have something like this in bluepysnap and bluepy. I must say, I am not really in favor of adding the "function" itself (here: `regex:`) to the argument (here : `"[lL]5_.*"`). I removed this kind of queries entirely from bluepy and bluepysnap.

I prefer to have something more generic (but more verbose) that we can apply to other kind of complex queries in the future. I am now us

[2021-01-28 11:12] tomdele commented on #119
I am also using this kind of syntax to create `or`, `and` and `node_set` queries. These are in a different scopes tho.

Ex :
[code]
You can of course combine the and/or queries.

[2021-01-28 11:18] matz-e commented on #119
Sounds like a solid proposal to me!

[2021-01-28 11:52] mgeplf commented on #119
I think we should stay as close to the SONATA standard as possible: nesting another dictionary doesn't seem to help much, and the more 'complex' versions can be created from the current building blocks, no?

[2021-01-28 13:29] tomdele commented on #119
The sonata standard is very limited and only takes into account : exact match for a value, the `or` (via brackets: `{"val": [1,2]}`) for a single variable, the `or` for the compounds node sets, the `and` ({"val1": 1, "val2":2}) for different fields.

But for the floats or even comparison operators like: greater/greater_than, lower/lower_than, or ranges.
Or the strings: startswith (if we need bette

[2021-01-29 08:43] alkino opened #124 "Use codecov everywhere"
Some others projects use codecov: nmodl, CoreNeuron, nrn

Should libsonata use that too instead of coverall?

[2021-01-29 15:55] pramodk commented on #124
Both tools do more or less same thing I believe and it's more about the familiarity / preference. In hpc projects we started with codecov but I will let @mgeplf and @wizmer to provide preference here.

[2021-02-02 09:38] mgeplf commented on #124
What's the benefit of changing?

The main one is consistency, but are there others?

I tried `codecov` originally, and ran into problems with it, iirc, but that's a few months ago.  I believe that nlohmann's JSON used coverall at the time, so that's what I ended up going with.  From what I remember, there were issues w/ line numbers not being right, branch coverage being wrong due to exceptions -

[2021-02-02 09:39] mgeplf commented on #105
Have you had a chance to look into this?

[2021-02-02 14:02] wizmer opened #127 "Shouldn't action docstring_check.yaml be run an PR ?"
Instead of on push ?

[2021-02-02 14:05] mgeplf commented on #127
Could you expand on your thinking?

[2021-02-02 15:30] wizmer commented on #127
This check is currently run when the PR is merged so if it fails, it's too late, the PR is already merged.
I'm not sure but I think the intent was to have this check be run as part of the CI PR.
So I think the trigger should be: `pull_request:` and not `push:` in the yml file.
But again, I'm not sure of the initial intent. It is just something I noticed while looking at something else.

[2021-02-02 17:50] mgeplf commented on #127
Won't a push exist before a PR can be created, and then the doc is checked?

[2021-02-02 21:34] wizmer commented on #127
The `push:` will be triggered only if you are not making the PR from you own fork but directly from the BlueBrain remote (ie. your workflow). But if someone makes a PR from their own fork, the `push:` event is not triggered.

Click one `view detail` to expand the list of checks for the following PRs:
https://github.com/BlueBrain/libsonata/pull/125 has 5
vs
https://github.com/BlueBrain/libsonata/pu

[2021-02-03 07:33] mgeplf commented on #127
One can enable the github actions, and then it works on your own fork.  The branch protection is enabled, so things shouldn't get merged unless tests pass.

Isn't that because the `reports` branch is behind master, and doesn't have the latest CI changes?

I'm looking at all the actions, and they're all 'push'; so this applies to everything, it seems.  When an action is set to PR instead of push, d

[2021-02-03 08:49] wizmer commented on #127
Yes, that's what happens. If I understand correctly, `pull_requests` should be used to test the PR and `push` to upload the coverage when master branch is updated for example.

[2021-02-04 12:25] wizmer commented on #127
Merged in #129

[2021-02-04 12:26] #127 closed

[2021-02-12 07:36] mgeplf commented on #119
Yeah, that's a good point.

We're basically recreating a full query language; I'm still bitter we didn't save the nodes file in sqlite.

Anyways, I think we need to do a test implementation with the above proposal, and see if it works well.

[2021-02-12 08:37] mgeplf commented on #119
It occurs to me that if we're doing $gt/$lt, etc, perhaps the querying should also apply to `EdgePopulations`.  Before, directo comparison wasn't that useful, since most (-ish?) things are float in `EdgePopulations`, but now it might be useful?

[2021-02-12 09:47] matz-e commented on #119
Could be useful for selecting wider brain-regions?

One obvious drawback would be the sheer size of the edge files. Now if only we had an MPI-capable reader, this may be optimized :)

[2021-02-12 10:29] mgeplf commented on #119
Loading one column at a time should be doable, no?  Might have to chunk it, I guess.

I won't bite.  If you have MPI, you have enough ram on a node to load a column at a time...

[2021-02-12 10:33] matz-e commented on #119
If we offer it, they will use it. I think right now the scale of the issue may make processing whole columns in memory feasible for the nearerst future.

Then there is also the speed of the selection. Of course, one could parallelize differently, e.g., just throw `rayon` at it, since it's so easy…

[2021-02-12 11:41] tomdele commented on #119
I agree or in whatever graphDB with a Cypher like queries :
[code]
or if we want to use the edges in the queries :
[code]
...

[2021-03-23 07:52] mgeplf commented on #124
Any further comments on this @alkino / @pramodk?

[2021-03-23 08:38] pramodk commented on #124
I don't think there is any other major reason.

Yes, IIRC, temporary one.

IMO, we need both. If coverall is something working and you all are familiar, I think we can just keep it. If someone find any major advantage of one over other then we can switch.

[2021-03-23 08:38] #124 closed

[2021-03-29 15:24] ferdonline opened #139 "Fails to read attribute, but succeeds if loaded in second place"
I found a very unexpected behavior with the library. It fails if one does:

[code]

However it succeeds if one gets another attribute before 'region', like morphology, i.e., after restarting the interpreter:
[code]

The only difference of region w.r.t. other attributes seems to be the type, I32 instead if U64. Maybe there's some pop count which is initialized and cached, and doesn't work properly

[2021-03-30 06:39] mgeplf commented on #139
Which version are you using? Is it deployed in spack? If so, what module?

[2021-03-30 06:54] mgeplf commented on #139
Looking at the `nodes.h5` file, as you noted `region`'s type is `i32` instead of an unsigned type (like etype, morphology, mtype, synapse_class).  Since they are indices into a the respective `@library` datasets (ie: @library/region), I don't think it makes
sense to have signed types.

My guess is that HighFive/hdf5 doesn't do the conversion for `i32` -> `size_t` required at this line:
https://git

[2021-03-30 07:25] sergiorg-hpc commented on #139
@mgeplf The version we used is 0.1.8, the one deployed on BB5.

Just curious. Even if the file is corrupt somehow, what I wonder is, how could it work if you ask first for something else before asking for the region attribute? The issue can be reproduced with NodeSets as well (i.e., you cannot filter by region, unless you asked for something else first).

[2021-03-30 07:29] mgeplf commented on #139
IIRC, hdf5 does weird conversion stuff, and depending on whether a particular loader has been 'activated' at some point, then it works.  It's strange.

[2021-03-30 12:40] sergiorg-hpc commented on #139
Just a short update. I've spent the whole day, a good part of it with Nico, and there is something off with how HDF5 is utilized internally.

I might have found something that leads us to the problem, but I need Nico's help to understand if it is actually the reason or it is just a coincidence.

[2021-03-30 15:20] ferdonline commented on #139
Looking up the issue with @sergiorg-hpc we noticed that indeed it can be traced back to hdf5 being unable to load the converter among different charsets.
Nevertheless we plan to fix the issue by telling HighFive that memory has the same charset than datasets, avoiding conversions.

[2021-03-31 07:16] mgeplf commented on #139
To clarify, what tool created this file?

[2021-03-31 07:44] sergiorg-hpc commented on #139
@matz-e believes it was created with the `mvdtool` conversion script most likely.

[2021-03-31 15:38] sergiorg-hpc commented on #139
See https://github.com/BlueBrain/HighFive/pull/428 for more information.

[2021-04-01 07:28] mgeplf commented on #139
Just going to reopen it, so we know to upgrade once the fixes are in.  Thanks for tracking this down, and the updates.

[2021-04-07 08:24] matz-e opened #140 "{Edge,Node}Population should have a .to_pandas method."
See title. For better usability, SONATA™ should provide functionality to provide a subset of the populations as Pandas dataframes for easier manipulation. Ideal usage from my side:
[code]
(paraphrasing a bit)

[2021-04-07 08:35] mgeplf commented on #140
This sort of functionality is part of [SNAP](https://github.com/BlueBrain/snap/).  I'd prefer to avoid having pandas as a requirement of python `libsonata`, because it's a heavy dependency.

[2021-04-07 11:12] matz-e commented on #140
Sure it is a heavy dependency, but we already depend on `numpy`, which itself is heavy:
[code]
not that much more in the dependency tree that isn't `numpy`…

Seems like the counter-argument is to depend on something that is heavier, and pulls in a bunch of morphology dependencies. To me, it more seems like the API augmentations of `snap` should be migrated here…

[2021-04-07 11:18] mgeplf commented on #140
numexpr/dateutil/pytz/etc are quite a bit more than *just* `numpy` (spack concretization is deceptive - `pip install numpy` only installs numpy; pandas installs more.

`libsonata` is supposed to be very low-level, very low dependy; the productivity stuff goes in SNAP.

[2021-04-08 07:43] matz-e commented on #140
I disagree: compared to `numpy`, these additional dependencies don't seem all _that_ heavy. Having to work with SNAP instead seems a little like saying we should use Qt for comfortable XML reading in C++.

[2021-04-08 07:48] matz-e opened #141 "SONATA Python bindings should expose the schema of the file or datatypes of attributes"
Currently, I have to iterate over the attribute names, extract a bogus array with an empty selection to get the schema of a SONATA file. It would be nice if there was some direct access to the column data types or the complete schema.

[2021-04-08 09:24] mgeplf commented on #141
By schema, do you mean dtypes?

[2021-04-08 10:06] matz-e commented on #141
Yes

[2021-04-08 11:33] mgeplf commented on #141
Seems to make sense to me, although I like your work around.  What would the C++ API look like?

[2021-04-08 11:37] mgeplf commented on #140
Put another way, numpy is a *required* dependency in that it's the compact way to return numeric data in python.  It would be hard/impossible to not use numpy, which is why it fits with the minimalist purpose of the library.  The improvement you're describing is an ergonomic/convenience one, which should be handled by higher level libraries (ie: SNAP).

The idea is that this is safe to use by anyt

[2021-04-09 06:30] matz-e commented on #141
I think there's no one-to-one mapping. IIRC, in C++ you just request the HighFive dataset and HDF5 will convert between what you request to read, and what is on disk. Basically a lazy access to attributes with deferred reading that should let you peak at the datatype.

But one could have a C++ schema that's just `unordered_map<string, HighFive::DataType>` (or equivalent).

[2021-04-09 06:34] matz-e commented on #140
My use case is to bulk load SONATA into Pandas to pass through to Spark. If I look into a file manually, I would also use this to compare between SONATA, Parquet, and binary data… so having some `.to_df` that returns something with columns `['source_node_id', 'target_node_id', 'delay', 'conductivity'…]` would be very nice and still pretty basic.

[2021-04-09 06:37] mgeplf commented on #141
Not sure what you mean here.

Is the `HighFive::DataType` really what you want, though?  That seems to be exposing an implementation detail out of the interface, which I don't agree with.  There is also a mismatch between the what the `HighFive::DataType` is, and what is actually returned, which an API consumer would find confusing, I think.

I guess make a PR, and we can nail the details down in

[2021-04-09 06:53] matz-e commented on #141
I don't really think we need a C++ counterpart to this, going through the call chain, we convert to whatever the "customer" requests. Whereas in Python, we reflect the datatype on disk. So I would just implement a Python side of this for now.

[2021-04-09 06:55] mgeplf commented on #140
Since you have to implement it for your use case, we should be able to take a look at it, and then make a decision.

[2021-04-14 11:41] sergiorg-hpc commented on #139
This has been fixed in HighFive already, but the package has not been updated yet.

More info about the HighFive PR: https://github.com/BlueBrain/HighFive/pull/428

[2021-04-14 11:46] mgeplf commented on #139
Cool, when things are released, just make a PR here to bump the git submodule.  Thanks.

[2021-05-04 07:59] matz-e opened #143 "Expose a specification implementation version"
As the definition of column content is being defined and may change over time, it would be nice to have access to a version identifier of the file format specification.

[2021-06-01 13:58] mgeplf commented on #119
FYI: I started on this

[2021-06-17 11:32] #119 closed

[2021-06-29 14:55] NadirRoGue opened #149 "Access report mapping without the need to load a frame"
Hello,

Currently, to access the node compartment mapping, the only option available with the current report reader API is to query a frame of the report and use the ids field of the `DataFrame` object.

It would be useful to be able to access this mapping information without having to read a full frame, as it might not be needed at the time the mapping is needed.

[2021-06-30 07:07] mgeplf commented on #149
@jorblancoa and @alkino implemented the report reading so I think they should look at this.

[2021-06-30 13:28] tomdele commented on #115
Not sure about the status of this one... I will reassign to you @mgeplf so you can dispatch if needed or close if this is fine.

[2021-07-01 07:10] mgeplf commented on #139
Has this been fixed?  Should there be an update?

[2021-07-07 13:38] sergiorg-hpc commented on #139
We had today the bi-weekly dev-meeting of HighFive and discussed a bit this topic. In order for this change to reach deployment, we need `libsonata` to use the latest HighFive version available.

There is some on-going work with summation reports et al., and after that is merged, we can check again to confirm that the fix is finally available.

I'll keep this opened and get back to you as soon as

[2021-07-07 17:49] matz-e opened #150 "Filesystem include is missing in external search"
See here:

https://github.com/BlueBrain/libsonata/blob/24f2b18aea5df3ce96089e07de992b3e8507422e/CMakeLists.txt#L68-L75

[2021-07-08 06:13] mgeplf commented on #150
Someone else is trying to make a spack package.

I haven't had any luck making it work both in the `EXTLIB_FROM_SUBMODULES` and `find_package(ghc_filesystem)` cases.  I'm very tempted to sidestep the whole issue, and just version it in.

Perhaps we can try and look at it today together.

[2021-07-19 09:35] alkino commented on #84
I think this ticket is over, right?

[2021-07-19 12:19] mgeplf commented on #84
I think so; do the tests cover the cases in the original issue? Can you find the commit that fixed it, and link it here?

[2021-07-20 06:34] mgeplf commented on #150
@matz-e and I discussed this, and we'll just version in the filesystem compat layer for simplicity.

[2021-07-21 09:26] #150 closed

[2021-07-23 08:07] mgeplf commented on #4
The CircuitConfig is implemented in #142.

[2021-07-23 15:01] joni-herttuainen opened #152 "CircuitConfig.expanded_json does not expand relative paths"
E.g., with a config file having `nodes_file` and `edges_file` defined as follows:

    {
        "version": 2,
        "networks": {
            "nodes": [
                {
                    "nodes_file": "./nodes.h5",
                    ...
                }
            ],
            "edges": [
                {
                    "edges_file": "edges.h5",
                    ...

[2021-07-26 14:33] NadirRoGue commented on #152
Hello,
The expanded JSON function replaces the manifest variables anywhere in the file where they are being used, like in this example:

[code]
In this case, after replacing, the paths would be still relative, since the manifest variables are as well.

[2021-07-27 06:12] mgeplf commented on #152
Yeah, I asked @joni-herttuainen to open this in case we wanted to discuss whether it should return an absolute path or not.

I can see the benefits for both, and the downsides; I'm not sure what the best solution is though.  Having an extra argument to `return_absolute_paths` doesn't seem right.

However, pushing resolution down the library consumer is annoying - I doubt that the `pwd` when readin

[2021-07-27 06:35] NadirRoGue commented on #152
I have prepared the fix for this as well in case its decided to be commited. I only have to modify the `nlohman::json` object everytime a path is converted to absolute and the returned paths by the expand JSON function returns the absolute ones.

I can open a PR if needed.

[2021-07-27 07:35] mgeplf commented on #152
Wow, that's cool; if you already have something, I wouldn't mind seeing it - if you could push a branch, that would be helpful.  Doesn't have to be polished or anything, just to get a sense of how it would work.

[2021-07-27 07:55] NadirRoGue commented on #152
Here is the branch: https://github.com/BlueBrain/libsonata/tree/config_file_not_expanding

[2021-08-02 09:12] asanin-epfl opened #153 "Provide NumPy indexing for ElementReportReader, SpikePopulation"
Would it be possible to provide access to reports data via NumPy indices? An example

[code]

The reason for this is to be able use Dask for reports processing. In particular:

[code]

cc @mgeplf

[2021-08-06 12:24] NadirRoGue opened #155 "Query start and end time of spike reports"
Hello,

Currently, the only way to know the start and end time of a spike report is by loading the whole report and search for the highest timestamp.

It would be useful to have a similar method as `ReportReader`'s `getTimes()` to directly return this value from the SpikeReader members.

[2021-08-09 05:57] mgeplf commented on #155
I think that @jorblancoa or @alkino should suggest and implement how best to handle this.

[2021-08-09 12:31] mgeplf commented on #153
I think something like this makes senese under the condition that the full report isn't being loaded into memory.

@asanin-epfl: can you see proof-of-concept this in the `python/libsonata/__init__.py` with only python code?  Please make sure to test that the full report isn't being loaded into memory.

[2021-08-30 12:15] mgeplf commented on #139
@sergiorg-hpc any updates on this?

[2021-08-30 12:47] sergiorg-hpc commented on #139
@mgeplf Let me bring this up in the next HighFive dev-meeting, ok? I have been busy with random things for the past month and didn't manage to follow-up on this, my apologies.

[2021-09-01 13:22] mgeplf commented on #139
Should be fixed in #156; closing this.

[2021-09-01 13:22] #139 closed

[2021-09-16 20:02] ferdonline opened #157 "node_set rules population selection"
We don't seem to have a way to properly filter nodes according to the nodeset population selector..
The nodeset entries cannot be inspected to know which node population to open, and the Nodeset rule
is basically a no-op, which either return the same set if the provided node population matches, otherwise returns an empty set. We are left with the workaround of opening all the populations and run m

[2021-09-17 06:46] mgeplf commented on #157
For the first point, that could be added - it's not something that we've run into, so feel free to open a PR.

With respect to 'Some Extras', if you see things that can be improved, I would put those in another ticket, and, even better, in PR, so we can see the changes.

[2021-09-23 10:27] matz-e opened #160 "Funny documentation"
Running `pydoc3 libsonata` I see this, which is not very helpful:
[code]

[2021-10-04 06:44] mgeplf commented on #160
Looks like it's taken from: https://github.com/BlueBrain/libsonata/blob/master/python/libsonata/__init__.py

If you can add documentation there, that would be super.

[2021-10-06 06:56] #160 closed

[2021-11-04 16:36] st4rl3ss opened #166 "Selection of GIDs get passed as float insted of int"
I noticed that, at least whenever I perform a selection, GIDs get passed as `float` instead of `int` which is weird.
I'm using `flatten()` to create a list of target GIDs.

Feel free to ask for clarifications on this.

[2021-11-04 19:40] matz-e commented on #166
Do you have a small reproducer?

[2021-11-05 12:30] st4rl3ss commented on #166
Upon further inspection, the problem seems to be unrelated to `libsonata`.
I will check some more but I will close the ticket for now.

Sorry for any inconvenience this might have caused.

[2021-11-05 12:30] #166 closed

[2021-11-26 14:03] #155 closed

[2021-11-26 16:56] alkino commented on #4
So we can close this issue now. As #142  is merged

[2021-11-26 16:59] alkino commented on #140
For exemple, report_reader.hpp with `DataFrame` is ready to load inside pandas. Is it a solution for you? @matz-e

[2021-11-26 17:08] alkino commented on #115
For manylinux2014, we still depends of hdf5 : 1.8.12

[2021-11-26 17:20] matz-e commented on #140
Can I add columns to it?

[2021-11-29 08:26] mgeplf commented on #4
The simulation config portion isn't done yet: #158, so we can't close this.

[2021-12-15 08:13] #149 closed

[2021-12-15 13:20] mgeplf commented on #4
#158 is merged, so we can close this.

[2021-12-15 13:20] #4 closed

[2022-01-06 09:53] mgeplf commented on #157
@ferdonline: Any update on this? Are you planning on adding the functionality you need?

[2022-01-17 14:26] mgeplf opened #175 "Python wheel gets built in `debug`"
The build doesn't set the a Release mode properly:
https://github.com/BlueBrain/libsonata/blob/master/setup.py#L98

Hat tip: @sergiorg-hpc

[2022-01-17 15:46] #175 closed

[2022-03-17 10:59] sanjayankur31 opened #184 "Test failures on aarch64, s390x and ppc64le:"
Hello,

While building libsonata on the Fedora build system, we're seeing these tests fail on aarch64, s390x and ppc64le with these errors:

[code]

These pass fine on the other architectures (x86_64/i686).

The complete build is [here](https://koji.fedoraproject.org/koji/taskinfo?taskID=84323320).

The build logs for the three arches are here:

- [aarch64](https://kojipkgs.fedoraproject.org//work

[2022-03-17 12:06] mgeplf commented on #184
Thanks, for the report; I've ran into the problem on arm64, and was working on a fix.

[2022-03-17 16:06] sanjayankur31 commented on #184
Thanks @mgeplf . I see it was an issue in HighFive? I can carry the patch downstream in our HighFive package and then build libsonata to see if that fixes the error here. I'll report back when I've managed to do this.

[2022-03-18 08:29] mgeplf commented on #184
Yeah, that would be great.

Thanks for the report and the testing.

[2022-03-18 10:25] sanjayankur31 commented on #184
I ran test builds on our test machines, and can confirm that the highfive fix does fix this issue. Here are the build logs for your convenience (there are a few sign related compilre warnings etc. in there, for example)

- [libsonata-aarch64.txt](https://github.com/BlueBrain/libsonata/files/8303670/libsonata-aarch64.txt)
- [libsonata-ppc64le.txt](https://github.com/BlueBrain/libsonata/files/830367

[2022-03-18 12:07] mgeplf commented on #184
I'm going to re-open, so we make sure we update HighFive to a newer version.

[2022-03-22 09:44] jdcourcol opened #185 "manage manifest in simulation config"
manifest can be added to the simulation config as described here: https://bbpgitlab.epfl.ch/common/doc/circuit-documentation/-/merge_requests/11

libsonata should be updated to follow the specification.

[2022-03-29 12:39] jdcourcol commented on #185
@WeinaJi is there any update here ?

[2022-04-01 07:50] mgeplf commented on #184
Once https://github.com/BlueBrain/HighFive/pull/528 goes in, and HighFive release is made, I will included that here.

[2022-04-03 10:09] MikeWazoWski123 opened #189 "Potential secutiry vulnerabilities in the shared libraries which libsonato depends on. Can you help upgrade to patch versions?"
Hi, @mgeplf , @arsenius7 , I'd like to report a vulnerability issue in **libsonata_0.1.11**.
### Dependency Graph between Python and Shared Libraries
![image](https://user-images.githubusercontent.com/102780639/161422416-74a340a9-3dc3-4da6-b9ac-0b03fdd45bb0.png)
### Issue Description
As shown in the above dependency graph, **libsonata_0.1.11** directly or transitively depends on ***2*** C librarie

[2022-04-04 07:54] WeinaJi commented on #185
Hello @jdcourcol , I am just back from my vacation. I will work on it this week.

[2022-04-06 08:51] mgeplf commented on #189
will be fixed when new wheels are released

[2022-04-06 08:51] #189 closed

[2022-04-06 08:51] mgeplf commented on #189
thanks for the report @MikeWazoWski123

[2022-04-06 10:08] mgeplf commented on #184
This should be closed by #190

[2022-04-13 07:27] mgeplf commented on #185
closed by #192

[2022-04-13 07:27] #185 closed

[2022-05-06 07:37] mgeplf opened #198 "SimulationConfig doesn't have a way to list the names of the available reports."

[2022-05-30 08:50] #198 closed

[2022-06-01 07:13] mgeplf opened #205 "should throw an error if biophysical_neuron_models_dir is missing for biophysical nodes"
`it is needed only  for biophysical populations: "Path to the template HOC files defining the E-Model. There must be one defined for biophysical node populations.`

[2022-06-17 12:10] matz-e opened #212 "Selection could use a complement operator"
Sometimes it would be nice to _exclude_ certain IDs from a selection, in which case a subtraction / complement of two selections should be formed. We should add support for such an operation.

[2022-06-20 07:21] mgeplf commented on #212
Yeah, sounds good.

[2022-06-24 13:32] joni-herttuainen commented on #205
It seems that the error is not thrown in a case in which the populations dict for a given population is empty.
I.e., Assume components is defined (without `biophysical_neuron_models_dir`) as
[code]

then an error is not thrown for this node population named `default` (that will default to `type = 'biophysical'`)
[code]
but is for this:
[code]
This came up in SNAP tests. In the spec it's defined th

[2022-06-27 12:18] #205 closed

[2022-08-08 09:20] 1uc opened #218 "Obtaining `"{nodes,edges}_file"` for a given population."
We're using `libsonata` to parse a SONATA circuit config file. The information we'd like to get is the morphology directory, the `"nodes_file"` and `"edges_file"` for a given population.

I was hoping for an API similar to:
[code]
I was unable to find something like this in the documentation. Is this already possible? (Does this even make sense?)

Currently, we're getting the information my manual

[2022-08-08 10:00] 1uc commented on #218
That's indeed the other place I looked for this functionality.

The downside of needing to open the file is that it must exist. While this is guaranteed in our immediate usecase (SpatialIndex). It might be nice to be able to use the circuit config file when creating the circuit, i.e. in TouchDetector or a little bit later in the pipeline, where the `edges_file` is created.

Second thought: if you

[2022-08-08 11:57] mgeplf commented on #218
Yeah, I don't particularly like that idea.  Perhaps both `getting the paths` ways could exist. But for now, I can see the utility in having the `CircuitConfig` having the path available - I'll whip up a PR.

[2022-08-30 09:11] joni-herttuainen opened #220 "Docs: Missing items in Python API"
It seems that the [Python API](https://libsonata.readthedocs.io/en/latest/api.html) section in the genereted API docs is missing the following items:
* CircuitConfig
* SimulationConfig
* NodeSets

[2022-08-31 07:16] joni-herttuainen opened #221 "Report.file_name returns full path"
`libsonata._libsonata.Report.file_name` seems to return the `file_name` as`"$CIRCUIT_DIR/file_name"`. I think this should just be the file name (e.g., `"soma"` or `"soma.h5"` with the added format).

[2022-08-31 11:24] mgeplf commented on #221
Quick inspection it's a path that gets concretized to an absolute one, relative to the location of the `simulation_config.json`: do you have the `simulation_config.json` in the same directory as the `circuit_config.json`

[2022-08-31 11:27] joni-herttuainen commented on #221
Ah, yes, you're correct. My bad: the description should say `base_path/file_name` where base path is the directory of the simulation.

[2022-09-01 13:47] mgeplf commented on #221
nice catch

it appears that the correct behavior from https://github.com/AllenInstitute/sonata/blob/master/docs/SONATA_DEVELOPER_GUIDE.md `Reports are always written to the output directory given in the output configuration block`

[2022-09-01 13:53] joni-herttuainen commented on #221
Good finding! I seem to always forget such document exists.

[2022-09-07 06:43] mgeplf commented on #221
fixed in #222

[2022-09-07 06:43] #221 closed

[2022-09-19 10:33] joni-herttuainen opened #225 "EdgePopulation.get_attribute with significant number of non-consecutive edge ids"
I stumbled on a case in which I have a big number of scattered (i.e., generally non-consecutive) edge ids. If I wrap the selection in `libsonata.Selection`, the call for `EdgePopulation.get_attribute(...)` takes a significant amount of time.

For example, if I
[code]
the performance is significantly worse than doing:
[code]

There's a test case to demonstrate this effect in:
[code]
It can be run w

[2022-09-19 10:44] mgeplf commented on #225
Thank you for quantifying this - I've always assumed it's a problem, but never got around to looking at it.

Dispatching many small reads vs coalescing them makes a huge difference, I will have to give that a try sometime.

[2022-09-20 07:45] mgeplf commented on #225
I couldn't help but try:
https://github.com/BlueBrain/libsonata/pull/226

[2022-10-03 12:41] 1uc opened #229 "Supported aliases for `"electrical"`."
When reading the specification:
https://sonata-extension.readthedocs.io/en/latest/sonata_config.html#id5
we see that the supported types are:
* chemical
* electrical
* synapse_astrocyte
* endfoot
* neuromodulatory

However, the SONATA documentation usecase5 contains a type `"electrical_synapse"`, see:

    /gpfs/bbp.cscs.ch/project/proj12/example_data/sonata/v2/usecase5/

Using the following repro

[2022-10-10 11:19] joni-herttuainen commented on #229
Hi @1uc ,

Thanks for the issue. I thought I'd comment on this.

The examples are generated programmatically. You are right, `"electrical_synapse"` incorrect. It should be `"electrical"`. I have already made a MR for the generator code regarding the matter. IIRC, I held it back as I was not sure whether it conformed to the SimulationConfig specifications and thought I'd do everything in one go. Du

[2022-10-10 15:45] 1uc commented on #229
Thank you for the clear explanation.

[2022-10-12 11:19] 1uc opened #236 "No population_names when "populations" dict is missing."
The latest version of `libsonata` seems to no longer report any `population_names` when using a circuit config file which conforms to SONATA spec, but doesn't conform to the BBP-conventions.

Here's the circuit config file:
[code]
When opening this circuit, no population names are reported (from memory):
[code]

Both `nodes.h5` and `edges_2k.h5` contain a single population `"All"`. Note, that does

[2022-10-20 12:28] 1uc opened #237 "Default edge type is `"chemical_synapse"`."
It appears that the default type of an edge is `"chemical_synapse"`, i.e.
[code]

will return `"chemical_synapse"` as the type of `All`. This can be reproduced via:
[code]

The specification prescribes the values `"chemical"` in the config file. Would it make sense to use that value instead?

[2022-11-01 10:04] mgeplf commented on #229
"electrical" is the correct type; so let's use that - see #237 and the fix in #242

The proj12 example data should probably be updated.

I'm going to close this ticket, since it's a duplicate of #237

[2022-11-01 10:04] #229 closed

[2022-11-01 10:12] mgeplf commented on #236
Yes, before we were resolving populations from the node/edge files, but they may contain populations that people don't actually want to access - thus, we now only consider ones that are explicit in the `circuit_config.json`

[2022-11-01 10:14] 1uc commented on #236
Thank you!

[2022-11-01 10:14] #236 closed

[2022-11-01 14:29] #237 closed

[2022-11-08 12:23] mgeplf commented on #218
@1uc are you happy w/ this? Can I close the issue?

[2022-11-14 10:07] matz-e commented on #225
I think this could need the same treatment as done for the report API: close consecutive ids/elements could be merged into chunks that are used to aggregate reads and not hit the file system as much. Noting this as it _may_ be the underlying issue we see in [SPIND-235](https://bbpteam.epfl.ch/project/issues/browse/SPIND-235).

[2022-11-15 08:04] mgeplf commented on #225
I should have closed this with https://github.com/BlueBrain/libsonata/pull/226, but we can reuse it for this.

I'm wondering if we could collapse the new logic for read aggregation the edge population reading w/ the one that's in the report reading.  Have you looked at that @matz-e? If not, I can have a gander at some point soon.

[2022-11-15 15:14] mgeplf commented on #225
did a quick and dirty version here: https://github.com/BlueBrain/libsonata/tree/try-chunked-pop-read

can you see if that helps w/ your use case @matz-e?

it doesn't work exactly how I'd want it to yet, but it seems faster-ish.

[2022-11-15 21:24] matz-e commented on #225
Thanks, @mgeplf! I'll try to test that soon™

[2022-11-16 12:33] mgeplf commented on #225
It's pretty hacky, but at least it gives an idea of how things could be better.

if one sets GAP, one can change the max chunk size.

A quick scan of values gives 1e6 to be a sweet spot:
[code]